.success,
.error {
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

h1 {
  text-align: center;
  color: rgb(5, 5, 87);
  font-weight: bold;
}

label {
  color:rgb(3, 3, 51)
}

th {
  color: rgb(7, 7, 58);
  font-weight: bold;
  font-size: large;
}

button {
  color: rgb(4, 46, 46);
  font-size: large;
  border: 2px solid brown;
}